body {
	background-color: 

}
h1,footer{
background-color: white;
border: solid blue;
border-style: solid;
border-radius: 20px;
padding: 5px;
text-align: center;

}

table, th,td {
margin: auto;
border: solid blue;
border-radius: 20px;
padding: 5px;
}